/.idea
/.vscode
/design/node_modules
/web/vendor
/public/build
/public/assets
/public/mix-manifest.json

Homestead.json
Homestead.yaml

/.env

_ide_helper*
.phpstorm.meta*
/*.sql
*.log
node_modules
.idea
/public/storage
/public/hot

Homestead.json
Homestead.yaml
web/.env
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
_ide_helper.php
error.log
Todo.rtf
.vagrant
/.vagrant
npm-debug.log
yarn-error.log
!public/js/querysession.min.js
phpunit.txt
web/public/sql.php
public/css
public/js/*.js
public/js/plugins
public/js/skins
public/js/themes
public/js/skins/*.js
#web/public/assets
#web/public/css
#web/public/js
#web/public/mix-manifest.json
/mysql
.scannerwork
web/security-checker

/socket/node_modules
/socket/data
# /socket/.env
